article.card{
    //before css
    opacity: 0;
    transform: translateY(20px);
    transition: all ease 1s;

    &.visible{
        //after css
        opacity: 1;
        transform: translateY(0px);

    }
}